# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Environment variables
.env
.env.*
!.env.example

# IDE and editor files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Cache directories
.npm
.eslintcache
.tsbuildinfo

# User-specific files
~/.pb-boutique

# Temporary files
*.tmp
*.temp
.cache
